:root{
    --main-text:#00b289;
    --special-text:#f8db62;
    --text:#4c4d5f;
    --shape:#f2faff;

}

*,*:before,*:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-x: hidden;
    font-weight: normal;
}
html ,body{
    overflow-x: hidden;
    position: relative;
}

a{

    color: inherit;
    text-transform: capitalize;


}

.blueshape{
    background-color:var(--shape) ;
    position: absolute;
   left: 20%;
   top: -50%;
    width: 90%;
    height: 120%;
    transform: rotate(-23deg);
    z-index: -1;
    
    
    
   
}

.part{
    background-color: var(--part-background);
}

.wrapper{
    width: 95%;
    display: flex;
    flex-direction: column;

    margin-inline: auto;
    
    
    padding-top: 1.2rem;


    font-size:0.9rem;
    justify-content: space-between;




    >header{
        
        display: flex;
        
        
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        position: fixed;
        z-index: 1000;  
        width: 100vw;

        left:0; 
        top:0;
        padding: 1.5em 2.5%;
        
        
        align-items: center;

        
        

    
        

        .logo{
            flex: 1 2 auto;
            text-align: start;
            img{
                max-width: 10em;
            }


        }
        

        nav{
            
            color: var(--text);
            flex: 1 1 auto;
            justify-content: space-between;

            font-size: 1.1em;
            display: none;


        }
        .buttons
        {
            
            flex: 0 0 auto;
            gap: 1rem;
            display: none;
          justify-content: flex-end;
          width: 30%;

            .button{
                padding:  0.5rem 1.2rem;
                border:solid var(--main-text) 1px;
                
                flex: 0 0 auto;
                border-radius: 0.2rem;

                text-align: center;
                
                font-size: 0.8rem;
                

            }
            a{
                text-transform: uppercase;
                
                  
                  
                
                
                color: var(--main-text);
                font-weight: bold;



                

            }
            
            .button:last-child{
                background-color: var(--main-text);
                a{color: white;}

               
            }

            .button:hover{
                background-color: #08a17e;
                cursor: pointer;
                a{color: white;}
                
            }

        }


        .tab 
        {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 1.2rem;
            width: 2rem;
            align-items: flex-end;
            span{
                transition: all 0.5s ease-in-out;
                width: 100%;
                height: 10%;
                
                background-color: var(--text);
            }
            

            
        }
        .tab:hover {
            cursor: pointer;

            span:first-child{
                transform: translateY(0.5rem) rotate(45deg);
                

                    
            }
            span:nth-child(2)
            {
                display: none;
            }
            span:last-child{
                
                transform: translateY(-0.5rem) rotate(-45deg);
               
                
            }

           

           
        }
        

     
    }




  
}

main{
    color: var(--text);
    .pricing{
        margin-top: 8em;
        
        display: flex;
        flex-direction: column;
        align-items: center;

        

        .title{
            display: flex;
            justify-content: center;
            gap: 4em;
            align-items: center;
            width: 100%;
            font-size: 0.6rem;
            flex: 0 0 auto;
            h1{
                font-size: 3.5em;
                text-transform: capitalize;
                flex: 0 1 auto;

                
            }

            .bill{
                align-items: center;
                display: flex;
                flex: 0 0 auto;
                gap: 1em;
                justify-content: flex-end;
                h2:first-of-type{
                    color: black;
                    
                }
                h2{
                    text-transform: uppercase;
                    position: relative;
                    
                }
            
            

             /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-text);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--main-text)
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);


  }
label:has(input:checked) ~ h2 {
    color: black;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 
        }

    }

    h2 +img{
        color: var(--main-text);
        text-transform: uppercase;
        position: absolute;
        transform: translate(15%,-50%);
        
    }

    .prices{
        margin-top: 3em;
        width: 100%;
        display: grid;
        grid-template-columns:1fr;
        gap: 2em;
        article{
            background-color: white;
            padding: 3em;
            
            gap: 1.5em;
            position: relative;
            display: flex;
            flex-direction: column;

            justify-content: space-between;
            

            border: solid rgba(0, 0, 0, 0.1) 1px;
            
          
            header h3
            {
                font-size: 1.5em;
                font-weight: bold;
            }
            header p{
                margin-top: 1em;
                font-size: 0.7rem;
            }
            span{
                position: absolute;
                right: -11%;
                top: 6%;
                background-color: var(--main-text);
                color: white;
                padding: 0.5em 4em;
                font-size: 1rem;
                transform: rotate(45deg);
                text-transform: uppercase;
                font-weight: bold;
                
            }

            main h2{
                font-size: 3.5em;
                text-transform: uppercase;
                white-space: nowrap;
                
                sub , sup{
                    font-size: 1.2rem;
                }
                border-bottom: solid 1px var(--main-text);
            }
            main ul{
                margin-top: 2em;
                text-transform: capitalize;
                li{
                    margin-top: 1em;
                    
                }
                
            }
            footer{
                width: 100%;
                background-color: var(--main-text);
                text-align: center;
                color: white;
                padding: 1.5em;
                border-radius: 0.5em;
                text-transform: uppercase;
                font-size:0.8rem;
                font-weight: bold;
            }
            footer:hover{
                cursor: pointer;
                background-color: #08a17e;
            }
        }
    }

    }
    

    .middle{
        width: 100%;
        margin-top: 6.5em;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: space-between;

        gap: 5em;

       >h2{
            font-size: 1.5rem;
            text-align: center;
        }

        section{
            display: flex;
            flex-direction: column;
            
            gap: 0.5em;
            width: 100%;
        }
        section article{
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            

            box-shadow:  0 0 60px 0 rgba(2,4,69,.05);
            padding: 4em 5em;
            column-gap: 5em;
        
            
            header h2{
                font-size:1.2rem;
                font-weight: bold;
               
            }

            main{
                
                font-size: 1.5rem;
                font-weight: bold;
                flex: 0 0 auto;
                
            
                
               
                
            }
        }
    }

    .tag{
        margin-top: 8em;
        width: 80%;
        margin-inline: auto;
        display: flex;
        padding: 4em;
        justify-content: space-between;
        align-items: center;
        background-color: var(--shape);

        >header{
            font-size: 2rem;
            span{color: var(--main-text);}
        }
        >main{
            padding:  0.8rem 1.2rem;
            border:solid var(--main-text) 1px;
            flex: 0 0 auto;
            border-radius: 0.2rem;
            text-transform: uppercase;
            text-align: center;
            color: white;
            background-color: var(--main-text);
            font-size: 0.8rem;
        }
        >main:hover{
            
            background-color: #08a17e;
            cursor: pointer;
               
                
            
        }
    }

    .questions{
        margin-top: 8em;
        display: flex;
        width: 60%;
        margin-inline: auto;
        flex-direction: column;
        justify-content: center;
       
        
        gap: 2em;
        >main
        {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
        >header{
            color: var(--main-text);
            font-size: 1.8rem;
            font-weight: bold;
            text-transform: capitalize;
            text-align: center;
            
        }
        
       >main article {
       display: grid;
       grid-template-columns: 1fr 10%;
       
      
        
       >header
       {
        font-weight: bold;
        font-size: 1.2rem;
        
        }
        >footer{
            opacity: .5;
            font-size: 1.4rem;
            text-align: end;
            
        }
        
       
        >main{
        font-size: 0.8rem;
        display: none;
        }
      
    }
    >main >article:hover{
        cursor: pointer;
        >header{
            color: var(--main-text);
        }
        >footer
        {
            opacity: .2;
        }
        >main{
            display: block;
        }
    }
   
       
       

    }
}

.margin{
    margin-top: 4em;
    
}
.var{
    color: var(--main-text);
}

.wrapper >footer{
 display: grid;
 margin-top: 10em;

    padding:4em ;
    gap: 2em;


    >article{
        display: flex;
        flex-direction: column;
        gap: 2em;


        header{
            font-size: 1rem;
            text-transform: uppercase;
            color: var(--text);
            font-weight: bold;
        }

        main{
            font-size: 0.8rem;
            
            ul{
                display: flex;
                flex-direction: column;
                gap: 1em;
                
                a{
                    display: flex;
                    align-items: center;

                    i{
                        font-size: 1.5rem;
                    }
                }
                a:hover{
                    color: #2d2e3a
                }                   

            
            }
        }
    }

    >article:nth-child(3)
    {
        order: 4;
    }
}

@keyframes anim{
    50%{
        transform: translateY(0.5rem) rotate(0deg);
    }
    100%{
        transform: translateY(0.5rem) rotate(45deg);
    }
}

@keyframes anim2 {
    50%{
        transform: translateY(-0.5rem) rotate(0deg);
    }
    100%{
        transform: translateY(-0.5rem) rotate(-45deg);
    }
}

@media (min-width:950px)
{
  .wrapper {
   
        width: 80%;
    margin-inline: auto;
    >header{
        padding-inline:10%;
    .tab{display: none;}
    .buttons{display: flex;}
    nav{display: flex;}

    }
    .pricing{
        margin-top: 14em;
        .title{
            font-size: 0.6rem;
         
        h1{
            font-size: 2rem;
        }
    }
        .prices{
            grid-template-columns: repeat( auto-fit , minmax( 200px , auto) );
            gap: 2em;

            article  span{
                right: -17%;
                top: 5%; 
            }

            article main{
                flex: 1 0 auto;
            }
        }


      
    




    }
    

  }
  

  .wrapper >footer{
    grid-template-columns: 1fr 1fr 1fr;

    >article:last-child{
        grid-column-start: 2;
        margin-top: -10em;
    }
    >article:nth-child(3)
    {
        order: 0;
    }
  }
    
}


@media(max-width:500px)
{
    html{
        font-size: 11px;
    
    }
    .wrapper .pricing .title{
        margin-top: 10em;
        justify-content: space-evenly;

        h2+img {
            transform: translate(10%,-70%) scale(0.8);
        }
        
    }
}